# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock information
.terraform.tfstate.lock.info

# Variable files
*.tfvars

# Saved plan files
*.tfplan

# Crash logs
crash.log
crash.*.log